body {
    background-color: white;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: -40px;
    padding-right: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: white;
}

.sync-products {
    background-color: #007BFF;
}
.add-product {
    background-color: orange;
}
button::after {
    position: absolute;
    background-color: rgb(63, 155, 216);
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    transition: width 0.4s, height 0.4s, top 0.4s, left 0.4s;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.container {
    width: 80%;
    margin: 0;
    background-color: white;
    padding: 0px;
    border-radius: 5px;
    box-shadow: white;
}
.filter-inner {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.filter-input {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid rgb(8, 8, 8);
    border-radius: 5px;
    width: 70%;
}

.filter-button {
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
}

.filter-button:hover {
    background-color: #0056b3;
}
.product-table {
    width: 120%;
    border-collapse: collapse;
    margin-top: 20px;
}

.product-table th, .product-table td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid rgb(51, 50, 50);
}

.product-table th {
    background-color: #f4f4f4;
}

.product-table tr:hover {
    background-color: #f9f9f9;
}

.product-table table {
    width: 100%;
}

.product-table button {
    padding: 5px;
}

.product-table td:first-child {
    text-align: left; 
}

.product-table td input[type="checkbox"] {
    margin-right: 10px; 
}
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 50px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    transform: translateX(14px);
}
.my-button {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    background-color: #4CAF50;
    font-size: 13PX;
}